*{
  margin: 0;
  padding: 0;
}

:root {
  --backgroud-white: #F4F4F4;
  --pink: #ED4D77;
}

html {
  background: #F4F4F4;
  @media (max-width: 600px) {
      font-size: 90%;
  }

  @media (max-width: 414px) {
      font-size: 87%;
  }
}